[phases.setup]
nixPkgs = ["nodejs_20", "openssl"]

[phases.install]
cmds = [
  "npm install --legacy-peer-deps --no-audit --no-fund",
  "npx prisma generate"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npx prisma migrate deploy && npm run start:prod"

[variables]
NPM_CONFIG_LEGACY_PEER_DEPS = "true"
NPM_CONFIG_FUND = "false"
NPM_CONFIG_AUDIT = "false"

